body {
    background-image: url('./image.png');
}
.container {
    width: 800px; border: 1px solid black; height: 850px;
    margin: 0 auto; background-color: white;
}

.header{
    width: 800px; height: 200px; background-color :#B8CB21 ; 
}

#nav li{
    display: inline-block; margin: 5px; font-size: 20px; font-weight:bold ; text-transform: uppercase; text-align: center;
}
#nav {
    float: right;margin: 50px 100px;
}

.main { 
    width: 800px; height: 600px;background-color: white;   
    
}
h2{
    color: #cb212f; margin: 20px 20px;
}
.main img{ width: 200px; margin: 0px 20px
    ; float: left;
    }
 

button{color: white; background-color: #B8CB21;text-align: center;float: right;margin-right: 20px;}




.footer {
    margin-top: 40px;
}
.footer #div-image {
 text-align: center;
}

.footer img {
    width: 50px;
}
.footer p {
    font-size: 11px; text-align: center; margin: auto 20px;
}